[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
AWSIoTPythonSDK = "*"
boto3 = "*"

[dev-packages]
wemake-python-styleguide = "*"
pyformat = "*"
mypy = "*"
isort = "<5.0"
pre-commit = "*"
rope = "*"

[requires]
python_version = "3.7"

[packages.pydantic]
extras = [ "dotenv",]

[scripts]
update_remote_control_api = "python3 scripts/update_lambda_code.py --func_name remote_control_api --timeout 70 --description 'Handle REST API for remote command-and-response with a specific AWS IoT thing.'"